<?xml version="1.0"?>
<configuration>
  <system.web>
    <authorization>
      <allow users="DTS\millara"/>
      <allow users="DTS\mahmooda"/>
      <allow users="DTS\ahmerm"/>
      <allow users="DTS\abbasa"/>
      <allow users="DTS\FADDAT"/>
      <allow users="DTS\MUMTAZJ"/>
      <allow users="DTS\simpsonh" />
      <allow users="DTS\ahmerm" />
	  <allow users="DTS\almohammadie" />
      <deny users="*"/>
    </authorization>
  </system.web>
</configuration>
