<?xml version="1.0"?>
<configuration>
  <system.web>
    <authorization>
      <allow users="DTS\basheerr" />
      <allow users="DTS\shabreenm" />
      <allow users="DTS\mahmooda" />
      <allow users="DTS\faddat" />
      <allow users="DTS\ahmerm" />
      <allow users="DTS\saiedw" />
      <allow users="DTS\mumtazj" />
      <deny users="*" />
    </authorization>
  </system.web>
</configuration>
